@model Ogrenci
@{
    ViewData["Title"] = "Update Page";
}

<h2 class="text-md-center">Ögrenci Güncelleme Formu</h2>
<hr />
<form asp-controller="Ogrenci" asp-action="Edit" method="post">
    <input type="hidden" asp-action="OgrenciId" />
    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Eposta">E-Mail</label>
        <input asp-for="Eposta" class="form-control" placeholder="E-Mail" />
        <span asp-validation-for="Eposta"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Telefon"></label>
        <input asp-for="Telefon" class="form-control" placeholder="Telefon" />
        <span asp-validation-for="Telefon"></span>
    </div>
    <button class="btn btn-secondary" type="submit">Save</button>
</form>
