@model Ogretmen
<h2 class="text-md-center">Ögretmen Kayit Formu</h2>
<hr />
<form asp-controller="Ogretmen" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" class="form-control" placeholder="First Name" />
        <span asp-validation-for="Ad"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Soyad" class="form-label"></label>
        <input asp-for="Soyad" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="Soyad"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">E-Mail</label>
        <input asp-for="Eposta" class="form-control" placeholder="E-Mail" />
        <span asp-validation-for="Eposta"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label"></label>
        <input asp-for="Telefon" class="form-control" placeholder="Telefon" />
        <span asp-validation-for="Telefon"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="BaslamaTarihi" class="form-label"></label>
        <input asp-for="BaslamaTarihi" class="form-control" placeholder="Begin of Date" />
        <span asp-validation-for="BaslamaTarihi"></span>
    </div>
    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk"></i> Kaydet</button>
</form>